// A simple grid system with breakpoints and whatnot.
.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.row-center {
	margin-top: auto;
	margin-bottom: auto;
}
[class*=col-] {
	padding: 0 $gutter/2;
}

@for $i from 1 through $cols {
	@include for-each-size( '.col-' + $i ) {
		flex: $i 1 $i/$cols * 100%;
	}
}
