// Homepage-specific styles.
.homepage {

	h3 {
		color: #005F6B;
	}
	
	.bg-me {
		background-color: #888;
		background-image: url('/img/rob-beer-headshot-2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		position: relative;
		text-align: center;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.75) 100%);
		}
	}

	.name-block {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		min-width: 300px;
		padding: $gutter;
		color: #fff;
		background-color: rgba(0,0,0,0.2);
		border: 3px solid #fff;
		transform: translate(-50%, -50%);
		opacity: 0; // This gets removed by JS.
	}

	.portfolio {		
		.row {
			padding-top: $gutter;
		}
		.portfolio-url {
			word-break: break-all;
		}
	}

	section:nth-child(2n) {
		background-color: #efefef;
		background-image: repeating-linear-gradient(-45deg, #fafafa, #fafafa 10px, #fff 10px, #fff 20px );
	}

	// Right align previously centered titles.
	@include for-tablet-portrait-up {
		.col-tabletp-4 {
			text-align: right;
		}
	}
}